[Desktop Entry]
Type=Application
Name=Install HollowOS
Comment=Launch the HollowOS installer
Exec=bash -c 'sleep 10 && sudo -E calamares || true'
Icon=calamares
Terminal=false
Categories=System;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
NoDisplay=false
