[Desktop Entry]
Type=Application
Name=Install HollowOS
Comment=Install HollowOS to your system
Exec=/etc/hollowos/launch-calamares.sh
Icon=calamares
Terminal=false
Categories=System;
